{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

  
  <!-- [ Main Content ] start -->
  <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Initiate Month</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#!">Initiate Month</a></li>
                                            
                                         
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <form method="POST" enctype='multipart/form-data' action=""novalidate> 
                            {% csrf_token %}
                            {{ form.as_p }}
                            {{ form.errors }}
                            {{ form.non_field_errors }}
                        <div class="row">
                            <!-- [ fixed-layout ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                
                                                    <label for="MONTH">MONTH</label>
                                                    <select id="MONTH" name="MONTH" class="form-control"  ">
                                                        {% for MN in MONTH_CHOICES %}
                                                                 <option value="{{ MN }}">{{ MN }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    
                                                </div>
                                            </div>
                                         
                                            <div class="col-md-3">
                                                <button class="btn  btn-primary m-t-28" id="ADD" type="submit" name="ADD" value="ADD">ADD {{MONTH}}</button> 
                                            </div>
                                            <div class="col-md-3">
                                                <button  class="btn btn-primary m-t-28" id="ACTIVE" type="submit" name="ACTIVE" value="ACTIVE"><i class="feather mr-2 icon-user-check"></i>ACTIVATE {{ACT_MONTH}}</button>
                                            </div>
                                            <div class="col-md-3">
                                                <button  id="SET-BNHMRK" type="SET-BNHMRK" name="SET-BNHMRK" value="SET-BNHMRK" class="btn btn-primary m-t-28 m-l-3"><i class="feather mr-2 icon-clipboard"></i>Set BenchMark</button>
                                            </div>
                                            
                                            
                                            {% if messages %}
                                                {% for message in messages %}
                                                        {% if message.tags == 'success'%}
                                                            <span class="alert-S">
                                                                {{message}}
                                                            </span>
                                                        {% elif message.tags == 'info'%}
                                                            <span class="alert-I">
                                                                {{message}}
                                                            </span>
                                                        {% elif message.tags == 'warning'%}
                                                            <span class="alert-W">
                                                                {{message}}
                                                            </span>
                                                        {% elif message.tags == 'error'%}
                                                            <span class="alert-E">
                                                                {{message}}
                                                            </span>
                                                        {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- [ fixed-layout ] end -->
                        </div>
                        {% if request.session.FLG == 'B' %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                            
                                        <div class="card-body">
                                                <div class="row">
                                                        {% for key,value in BENCHMARK_LIST.items %}
                                                            <div class="col-md-2">
                                                                <div class="form-group"></div>
                                                                    <label for="Metrics">{{key}}</label>
                                                                    <input type="text" placeholder={{key}} name={{key}} value={{value}} required>
                                                                </div>
                                                            </div>
                                                        {% endfor %}  
                                                </div>
                                        
                                                <div class="row">
                                                <div class="col-md-2"><button class="btn  btn-primary m-t-28" id="BNHMRK" type="submit" name="BNHMRK" value="BNHMRK">Set BenchMark</button> </div>
                                                <div class="col-md-10"></div>
                                                {% if messages %}
                                                    {% for message in messages %}
                                                            {% if message.tags == 'success'%}
                                                                <span class="alert-S">
                                                                    {{message}}
                                                                </span>
                                                            {% elif message.tags == 'info'%}
                                                                <span class="alert-I">
                                                                    {{message}}
                                                                </span>
                                                            {% elif message.tags == 'warning'%}
                                                                <span class="alert-W">
                                                                    {{message}}
                                                                </span>
                                                            {% elif message.tags == 'error'%}
                                                                <span class="alert-E">
                                                                    {{message}}
                                                                </span>
                                                            {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            
                                        </div>
                                    </div>
                            </div>
                        </div>
                        {% endif %}
                        </form>
                            
                     </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}




    <!-- [ Main Content ] end -->

    {% include 'includes/scripts.html' %}

    <!-- prism Js -->
    <script src="/static/assets/js/plugins/prism.js"></script>

</body>
</html>
